main {
    min-height: 100vh;
}

@mixin content {
    text-align: center;
}

@mixin text {
    display: block;
    font-size: 8vw;
    font-weight: normal;
}

.primary-text {
    animation-delay: 0s;
    color: #000;
    @include text;
    @include content;
}

.secondary-text {
    animation-delay: 0.1s;
    @include text;
    @include content;
}

.keke-button {
    animation-delay: 0.5s;
    color: #FFF;
    @include content
}
